<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/JAWA_Logo.png" alt="Perth JAWAs Logo" width="500" height="462">
            <!--<img src="img/JAWA_Logo.png" class="img-responsive" alt="Perth JAWAs Logo">-->
            <h1>PERTH JAWAS</h1>
            <hr>
            <p>Perth's local Star Wars tabletop gaming group. Utinni!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
