<section id="stitch-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stitch Up</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="light">
                <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                <p>4 player, 200pt extended, 2 ships exactly.</p>
                <p>1st Player determined randomly then player order is clockwise from 1st Player. Alternatively, the player order can be determined randomly, but seating must go clockwise.</p>
                <p>Ship spawn range 1 from edge, but within range 3 from your corner in either direction (spawn area is an "L" shape).</p>
                <p>Each player brings 2 obstacles, but they are placed in player order until 6 are on the table.</p>
                <p>Ships are placed, move and shoot in order of initiative and player order.</p>
                <p>Winner is last pilot standing (or if called early, most points left on the table).</p>
                <p>Alliances forbidden, but swaying your opponents choice of targets encouraged. If you have a shot, you must take it.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
